@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=WindSong:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", "sans serif";
}

h3 {
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    line-height: 63px;
    text-align: left;

}

.color_brown {
    color: #593E26;

}


/*met les éléments les uns à côté des autres*/
.flex {
    display: flex;
    flex-wrap: wrap;
}


/*mettre des espaces entre les éléments*/
.space_between {
    justify-content: space-between;
}

/*centre les éléments verticalement*/
.align_item_center {
    align-items: center;
}

.bold {
    font-weight: 600;
}

.bg_yellow {
    background-color: #F3C827;
}

/*Contenir dans une largeur max de 1000px et centre au milieu du parent*/
.container {
    max-width: 1000px;
    margin: auto;
    width: 100%;
}

.bouton {
    background-color: #F66909;
    border-radius: 4px;
    padding: 10px;
    color: white;
    display: inline-block;
    margin-top: 35px;
}

.width50 {
    width: 50%;
}

.width25 {
    width: 25%;
}

/*En dessous : header*/

.panier_header {
    color: #F3C827;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

header {
    /*background-color: bisque;*/
    padding: 15px;
}
 
/*Début hero en dessous*/

.hero {
    height: 100vh;
}

.hero h2 {
    font-family: "WindSong", cursive;
    font-size: 128px;
    font-weight: 500;
}

h1 {
    font-size: 32px;
}


/*Section engagements*/

.engagement {
    width: 1,280px;
    height: 361px;
    padding: 40px 200px 40px 200px;

}

.engagement p {
    color: #1E150C;
    font-size: 16px;
    font-weight: 500;
    width: 49%;
    text-align: left;
    line-height: 19.36px;
}

/*Section bienfaits*/

.bienfaits {
    width: 1,280px;
    height: 372px;
    padding: 40px 200px 40px 200px;
}


/*section produits*/

.produits {
    width: 1,279px;
    height: 621px;
    padding: 40px 200px 40px 200px;
}

.card {
    width: 267px;
    height: 458px;
}

.card .bouton {
    margin-left: 40px;
}

/*Section clients*/

.nos_clients {
    width: 1,285px;
    height: 442px;
    padding: 40px 200px 40px 200px;
}

/*footer*/

footer {
    width: 1,282px;
    height: 334px;
    padding: 40px 200px 40px 200px;
}